@import "delivery";
@import "themes";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--input-bg);
    color: var(--text-color);
}
